<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hrms.dao.jobDao">
    <!--resultMap属性的值是 resultMap配置节id的值。当承载返回结果的java bean数据字段与数据库表字段格式不一致时，使用resultMap -->
    <!-- 如果返回多行数据，会用list封装UserData -->
    <select id="getJob" resultType="com.hrms.model.job">
        SELECT a.jobId,a.jname,count(b.staId) as num
        FROM job as a
        left join staff as b
        on a.jobId = b.jobId
        group by a.jobId
        order by jobId asc
        limit #{current},#{limit}
    </select>

    <insert id="insertJob" parameterType="com.hrms.model.job">
        insert into job
        values (#{jobId},#{jname});
    </insert>

    <delete id="deleteJob">
        delete from job
        where jobId = #{jobId}
    </delete>

    <update id="updateJob" parameterType="com.hrms.model.job">
        update job
        set secId=#{secId},jname=#{jname}
        where jobId=#{jobId}
    </update>

    <select id="fuzzySelectJob" parameterType="com.hrms.model.job" resultType="com.hrms.model.job">
        SELECT a.jobId,a.jname,count(b.staId) as num
        FROM job as a
        left join staff as b
        on a.jobId = b.jobId
        group by a.jobId
        <if test="jobId != null or jname != null or num != null">
            having
        </if>
        <if test="jobId != null and jobId !=''">
            jobId like #{jobId}
        </if>
        <if test="jname != null and jname != ''">
            jname like #{jname}
        </if>
        <if test="num != null and num != ''">
            num like #{num}
        </if>
    </select>

</mapper>